* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-rows: 225px 1fr;
    grid-template-columns: 350px 1fr;
    height: 100vh;
}

/*#region Sidebar*/
.sidebar {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    background-color: indigo;
    color: whitesmoke;
    padding: 25px;
    height: auto;
}

.sidebar_Top {
    font-size: 2em;
    margin-bottom: 2.5vh;
}

.sidebar_Top>div>div>img {
    width: 64px;
}

.sidebar_Mid,
.sidebar_Bot {
    font-size: 1.5em;
    margin-bottom: 5vh;
}

.sidebar_Item {
    display: flex;
    align-items: center;
    margin-bottom: 2.5vh;
}

.img_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    margin-right: 5%;
}

.sidebar_Mid > a > li > div > img,
.sidebar_Bot > a > li > div > img{
    width: 32px;
}

.sidebar_Icon {
    filter: invert(100%);
}
/*#endregion */

/*#region Header*/
.upper_Container {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 25px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

.header_Top {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

#search {
    width: 750px;
    background-color: #c7d2fe;
    border: none;
    border-radius: 25px;
    font-size: 1.5em;
    margin: 0 20px;
}

.main_Icon {
    width: 32px;
}

.header_Top_Right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    font-weight: 900;
    font-size: 1.25em;
}

.header_Top_Left {
    display: flex;
    align-items: center;
}

.header_Bot {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.header_Bot_Left {
    display: flex;
    align-items: center;
}

.profile_Pic_Container {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_Bot_Left > div{
    width: 80px;
    height: 80px;
}

.profile_Pic {
    width: 80%;
}

.profile_Text {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.profile_Greetings{
    font-size: 0.5em;
    margin-bottom: 5px;
}

.header_Bot_Right{
    display: flex;
    align-items: center;
}

.header_Bot_Right>ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px
}

.header_Button{
    color: whitesmoke;
    background-color: indigo;
    height: 50px;
    width: 115px;
    border-radius: 25px;
    border-style: none;
    font-size: 1em;
    font-weight: 900;
}
/*#endregion*/

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 50px / 1fr 300px;
    background-color: #c7d2fe;
}

.project_Session {
    padding: 0 25px;
    display: grid;
    grid-template-rows: 90px 1fr;
}

.cards_Container {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
}

.project_Session > h2{
    margin: 40px 0 20px 0;
}

.project_Card {
    width: 360px;
    height: 185px;
    padding: 20px;
    background-color: whitesmoke;
    border-width: 0 0 0 10px;
    border-style: solid;
    border-color: aquamarine;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 5px 2.5px rgba(0,0,0,0.1);
}

.card_Buttons{
    display: flex;
}

.right_Session {
    padding: 0 25px 0 0px;
    display: grid;
    grid-template-rows: 90px 1fr 90px 1fr;
}

.right_Session > h2{
    margin: 40px 0 20px 0;
    height: 30px;
}

.announcements_Container{
    padding: 10px;
    background-color: whitesmoke;
    height: fit-content;
    box-shadow: 2.5px 2.5px 5px 2.5px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.trending_User_Container{
    padding: 10px;
    background-color: whitesmoke;
    height: fit-content;
    box-shadow: 2.5px 2.5px 5px 2.5px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.trending_User_Card{
    display: flex;
    align-items: center;
}

.profile_Box{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.profile_User{
    font-weight: 700;
}
/*#region Accent colors for profile pictures */
#user_1 {
    background-color: aquamarine;
}

#user_2 {
    background-color: sandybrown;
}

#user_3 {
    background-color: firebrick;
}

#user_4 {
    background-color: cyan;
}

/*#endregion*/

footer {
    grid-column: 1 / -1;
    align-self: center;
    text-align: center;
}