*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:visited{
    color: inherit;
    text-decoration: none;
}

body {
    display: grid;
    grid-template: 1fr 7fr / 300px 1fr;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    background-color: indigo;
    color: whitesmoke;
    padding: 7.5%;
}

.sidebar_Top {
    font-size: 2em;
}

.sidebar_Top > div > img{
    width: 64px;
}

.sidebar_Mid,
.sidebar_Bot {
    font-size: 1.5em;
}

.sidebar_Item{
    display: flex;
    align-items: center;    
}

.img_Container{
    width: 64px;
}

.sidebar_Icon{
    filter: invert(100%);
}

.upper_Container {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header_Top{
    display: flex;
    justify-content: space-between;
}

#search{
    width: 600px;
    background-color: lightgray;
    
    
}

.header_Top_Right{
    display: flex;
}

.header_Bot{
    display: flex;
    justify-content: space-between;
}

.header_Bot_Left{
    display: flex;
}

.profile_Text{
    display: flex;
    flex-direction: column;
}

.header_Bot_Right > ul{
    flex: 1 1 auto;
    display: flex;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 300px;
    background-color: lightgrey;
}

.project_Session{
    display: grid;
}

.cards_Container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.project_Card{
    width: 500px;
    height: 300px;
}

.right_Session{
    display: grid;
}